body
{
    background-size: cover;
}

.h3_heading
{
    width: 100%;
    margin: 0px;
    font-size: 25px;
    background-color: black;
    color: blueviolet;
}

.music_speed
{
    float: left;
}

.music_volume
{
    float: right;
}

.spinney_thing
{
    border-radius: 100px;
    width: 200px;
}

#volume, #speed
{
    font-size: 20px;
    margin: 15px;
}

canvas
{
    box-shadow: 4px, 4px, 4px, grey;
    border: 2px solid ;
    border-radius: 10px;
    margin-top: 100px;
}